@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container {
        max-width: 83.3%;
        margin: 0 auto;
    }

    p {
        font-size: theme(fontSize.14);
        color: theme(colors.grey.72)
    }

    .bg-image {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    button, a {
        transition: all .3s;
    }

    .css-192zbic-MuiSlider-thumb {
        width: 1vw;
        height: 1vw;
    }

    .navlink {
        transition: 0s
    }
}

@font-face {
    font-family: Cera Pro;
    src: url('./assets/fonts/CeraPro-Regular.ttf'),
        url('./assets/fonts/CeraPro-Regular.woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: semi-condensed;
    font-variant: normal;
}

@font-face {
    font-family: Cera Pro;
    src: url('./assets/fonts/CeraPro-Medium.ttf'),
        url('./assets/fonts/CeraPro-Medium.woff');
    font-weight: 500;
    font-style: normal;
    font-stretch: semi-condensed;
    font-variant: normal;
}

@font-face {
    font-family: Cera Pro;
    src: url('./assets/fonts/CeraPro-Bold.ttf'),
        url('./assets/fonts/CeraPro-Bold.woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: semi-condensed;
    font-variant: normal;
}

@font-face {
    font-family: Cera Pro;
    src: url('./assets/fonts/CeraPro-Black.ttf'),
        url('./assets/fonts/CeraPro-Black.woff');
    font-weight: 900;
    font-style: normal;
    font-stretch: semi-condensed;
    font-variant: normal;
}

@font-face {
    font-family: Hanging Letters;
    src: url('./assets/fonts/Hanged Letters.ttf');
}

/* width */
::-webkit-scrollbar {
  width: 0.5vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: theme(colors.primary); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: theme(colors.primaryHover); 
}